asgiref==3.4.1
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cssselect==1.1.0
cssutils==2.3.0
dj-database-url==0.5.0
Django==3.2.5
django-bootstrap4==3.0.1
django-heroku==0.3.1
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.5.0
keyring==23.0.1
lxml==4.6.3
premailer==3.9.0
psycopg2==2.9.1
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.6
whitenoise==5.2.0
yagmail==0.14.256
zipp==3.4.1
